#authorBlok{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
#authorSlika{
    width: 40%;
}
#authorSlika img{
    width: 100%;
}
#authorOpis{
    width: 50%;
    margin-left: 20px;
}
.product_section .options input {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 30px;
    width: 165px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 5px 0;
}
#myForm p{
    color: red;
    padding-left: 10px;
}
input{
    text-transform: none;
}
